$info-color: #1890ff;
$bg-color: #ebeef3;
$grey: #bfbfbf;
$grey-6: #bfbfbf;
$grey-7: #8c8c8c;
$grey-8: #595959;
$highlight-color: #f5222d;
$success-color: #52c41a;

.button {
  box-sizing: border-box;
  height: 41px;
  padding: 8px 26px;
  line-height: 24px;
  font-size: 16px;
  color: $info-color;
  border: 1px solid $info-color;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}
.button:hover {
  color: #fff;
  background-color: $info-color;
}
.highLight {
  border-color: $highlight-color;
  color: $highlight-color;
}
.highLight:hover {
  color: #fff;
  background-color: $highlight-color;
}
.success {
  border-color: $success-color;
  color: $success-color;
}
.success:hover {
  color: #fff;
  background-color: $success-color;
}
.bgWrapper {
  background-color: $bg-color;
  height: 100vh;
  padding: 1.5em 10%;
  padding-bottom: 1em;
  .mainWrapper {
    background-color: #fff;
    border-radius: 5px;
    padding: 1em 1.25em;
    padding-bottom: 1.5em;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    .header {
      display: flex;
      justify-content: space-between;
      div {
        div {
          display: flex;
          .articleTitle {
            color: $info-color;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            display: flex;
            align-items: center;
            padding-right: 12px;
            cursor: pointer;
          }
          .favourites {
            display: flex;
            align-items: center;
            font-size: 12px;
          }
          .favourites::before {
            margin-right: 5px;
            content: '';
            width: 16px;
            height: 16px;
            background: url('../../../src/assets/like.svg');
            background-size: cover;
          }
        }
        .tagList {
          display: flex;
          gap: 8px;
          .tag {
            padding: 2px 3px;
            border: 1px solid #000000;
            border-radius: 2px;
            height: fit-content;
            font-size: 12px;
          }
        }
      }
      .userInfo {
        display: flex;
        gap: 12px;
        .userNameWrap {
          display: flex;
          flex-direction: column;
          .createdAt {
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
          }
        }
      }
    }
    .desc {
      padding-top: 1em;
      display: flex;
      justify-content: space-between;
      p {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
      }
      .editWrap {
        display: flex;
        align-items: center;
        gap: 0.75em;
      }
    }
    .body {
      padding-top: 1em;
      width: 1000px;
    }
  }
}
